<h3>Portal - A Translation Resources</h3>
<p>
  This example showcases Form.io's ability to store translation definitions within a remote resource on <a href="http://portal.form.io/#/">portal.form.io</a>.
  Users can leverage this functionality to transform a resource within their remote project to serve as an external or embedded interface to manage and create translations.
  The image shows the resource state which is responsible for both managing the which language in used in addition to which phrases are translated within the form.

  <br><br>
  <img src="assets/lang-resource.png" alt="language resource" width="100%">
</p>

<p>
  As a reminder, you can download a copy of this <a href='https://help.form.io/assets/project/language.json'>language resource</a>
  or you can locate a copy in the assets folder of this repository. If you are interested in replicating this environment, learn more by visiting our
  <a href="https://help.form.io/tutorials/walkthroughs/resource/">help docs</a>.
</p>

<div id="Resource"></div>
