<h3>Core Renderer Implementation</h3>
<p>
  The form below highlights Form.io's ability translate and switch between between different languages in real time. Furthermore,
  English languages has also been modified. Notice that the <code>Submit</code> button now reads <code>Complete</code>. This was included
  to show that all the language within Form.io is malleable. As a reminder, you can download a copy of this <a href='https://help.form.io/assets/project/core-example-2.json' download>form here</a>
  or you can locate a copy in the assets folder of this repository. If you are interested in replicating this environment, learn more by visiting our
  <a href="https://help.form.io/tutorials/walkthroughs/translations/">help docs</a>.
</p>
<div id="CoreRenderer"></div>
