<h3>PhraseApp Instructions</h3>

<div class="row" style="padding: 10px">
  <div class="col-lg-12">
    <p>
      If you are viewing this application via the our hosted service at
      <a href="https://apps.form.io/translations/#/">apps.form.io/translations</a> then the edit mode will be
      locked behind our Form.io PhraseApp account. To experience the integration yourself, please download this
      <a href="https://github.com/formio/formio-translations-demo">demo</a> and replace the <code>projectId</code>
      and <code>accessToken</code> with your own inside the project environment folder.
     </p>

    <p>
      If you are not sure how to do this, we've created a detailed <a href="https://help.form.io/tutorials/walkthroughs/phraseapp/">walk-though</a>
      that goes over creating the PhraseApp portion of the application. Feel free to antiquate yourself with
      <a href="https://help.form.io/tutorials/walkthroughs/phraseapp/#building">PhraseApp interface</a> as
      that particular section shows how to setup and retrieve a <code>projectId</code>and <code>accessToken</code>.
    </p>
  </div>
</div>
