<h3>Additional Information</h3>

<div class="row" style="padding: 10px">
  <div class="col-lg-6 home-card">
    <h5>Core Render</h5>
    <p>
      The reason we encourage users to start with the core examples is because it is framework independent. As a result,
      the code works with pure javascript and and our help docs have a detailed guide that steps though how to replicate this example.
      You can find the specific guide here at <a href="https://help.form.io/tutorials/walkthroughs/translations">help.form.io</a>.
      Additionally, you can find more information about the core render on our <a href="https://github.com/formio/formio.js/wiki">formio.js wiki</a> page.
    </p>
    <p><a class="btn btn-secondary" routerLink="/platform/formiojs" role="button">View demo »</a></p>
  </div>

  <div class="col-lg-6 home-card">
    <h5>Platform Resource</h5>
    <p>
      Similar manner as the manual approach used in the first example, this project stores a translation<code>key-value-pair</code>
      in a resource object on <a href="https://portal.form.io">Form.io</a>.You can download the
      same <a href="https://help.form.io/assets/project/language.json">resource here</a>, or find a copy on the assets folder of this repository.
      For the purpose of this demo application, the <code>Language</code> is stored in the <code>Examples</code> project on form.io.
    </p>
    <p><a class="btn btn-secondary" routerLink="/platform/resource" role="button">View demo »</a></p>
  </div>
</div>
