<h3>PhraseApp Edit Mode</h3>
<p>
  As a reminder, you can download a copy of this <a href='https://help.form.io/assets/project/phraseapp.json'>form definition here</a>
  or you can locate a copy in the assets folder of this repository.
</p>

<hr>

<div class="card" style="padding: 10px">
  <div class="card-block">
    <div id="PhraseEdit"></div>
  </div>
</div><hr>

<h5>Error Messages</h5>
<div class="card" style="margin-bottom: 120px; padding: 10px" >
  <div class="row">
    <div class="col-3">
      <div class="card p-2 px-3">
        Required
      </div>
    </div>

    <div class="col-5">
      <div class="card p-2 px-3">
        [[__phrase_required__]]
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="card p-2 px-3">
        Error
      </div>
    </div>

    <div class="col-5">
      <div class="card p-2 px-3">
        [[__phrase_error__]]
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="card p-2 px-3">
        Invalid Email
      </div>
    </div>

    <div class="col-5">
      <div class="card p-2 px-3">
        [[__phrase_invalid_email__]]
      </div>
    </div>
  </div>
</div>
