@import "~bootswatch/dist/pulse/_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/pulse/_bootswatch.scss";

#CoreRenderer, #Resource {
  padding: 10px;
}

@media (min-width: 992px) {
  .home-card {
    min-height: 250px;
  }

  .home-card .btn {
    position:absolute;
    bottom:0;
  }
}

table {
  text-align: center;
}

.card{
  margin-bottom: 10px;
}

p a {
  text-decoration: underline;
}

.btn {
  text-decoration: none !important;
}

.field-required:after {
  content: " *";
  color: red;
}
