<div class="jumbotron">
    <h1>Form.io Translation Demo</h1>
    <p>
      Welcome to the Form.io Translation Demo. This demo highlights new features and potential integrations in our latest release, including the three different translations methods withing Form.io.
      For more information on the latest updates, visit the Formio.js <a href="https://github.com/formio/formio.js/blob/master/Changelog.md">changelog</a>.
    </p>
    <p>
      Each implementation includes: a live demo, affiliate documentation, and a copy of the <b>form JSON</b> to make following along easy.
      Get started by viewing any of the live demos or feel free to dive strait into the official docs on
      <a href="https://help.form.io/">help.form.io</a>.
    </p>
    <p>
      <a class="btn btn-primary" href="https://github.com/formio/formio-translations-demo" role="button">View Repository »</a>
    </p>

</div>

<div class="row">
  <div class="col-lg-4 home-card">
   <h2>Simple Translations</h2>
    <p>
      Since the other two demo forms are based on the concepts used in this <code>Core Renderer</code> example, we highly recommend checking out
      this demo first. Furthermore, this demo has a build guide located on our <a href="https://help.form.io/tutorials/walkthroughs/translations/">help docs</a>
      and can give you a good foundation on how to use and manipulate the form creation options.
    </p>
    <p><a class="btn btn-secondary" routerLink="/platform/formiojs" role="button">View demo »</a></p>
  </div>

  <div class="col-lg-4 home-card" >
    <h2>Platform Resource</h2>
    <p>
      Formio.js uses i18n, a lightweight translation module, to allow users to pass in a translation option during form construction.
      During this process, users can hook into a form.io resource that contains a custom translation object.
      The result, an <code>in-portal interface</code> that can control form translations.
    </p>
    <p><a class="btn btn-secondary" routerLink="/platform/resource" role="button">View demo »</a></p>
  </div>

  <div class="col-lg-4 home-card">
    <h2>PhraseApp Integration</h2>
    <p>
      PhraseApp is an automated localization processes that empowers users to edit language files via an <code>
      in-context editor</code>. This demo showcases how users can overlay the aforementioned PhraseApp service
      on top of an Angular 2+ application.
    </p>
    <p><a class="btn btn-secondary" routerLink="/phraseapp/instructions" role="button">View demo »</a></p>
  </div>
</div>
